.release {
  margin-bottom: 30px;
}

.release-title {
  font-size: 22px;
  color: yellow;
  margin: 10px 0 5px;
}

.release-desc {
  font-size: 14px;
  color: #ffcc99;
  margin-bottom: 10px;
}

iframe {
  border: none;
  width: 100%;
  max-width: 650px;
  height: 152px;
}